# Исключаем виртуальное окружение
.neuro_bot_avatar/

# Кэш Python
__pycache__/
*.py[cod]

# VS Code настройки (можно оставить, если важны)
.vscode/

# Папки, создаваемые pip
*.egg-info/
*.dist-info/

# Исполняемые файлы
*.exe